body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4f0f5;
    padding-top: 80px;
}

header {
    background-color: #3F72AF;
    color: #fff;
    text-align: center;
    padding-top: 32px;
}

header h1 {
    font-size: 36px;
}

.isi h1{
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.cek-reservasi-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cek-reservasi-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cek-reservasi-form label {
    margin-bottom: 8px;
    align-items: center;
}

.cek-reservasi-form input[type="text"],
.cek-reservasi-form button {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cek-reservasi-form button {
    background-color: #3F72AF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultContainer {
    margin-top: 20px;
    text-align: center;
}
.resultContainer button {
    margin-top: 20px;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #3F72AF;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3F72AF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}