body {
    font-family: Arial, sans-serif;
    background-color: #e4f0f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3F72AF;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 15PX;
}

.content {
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.5s;
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}

.isi {
    padding-top: 80px;
}

.isi h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card h2 {
    color: #171b178c;
}

.event {
    margin-top: 10px;
}

.time {
    color: #555;
}

.description {
    font-weight: bold;
}

.btn:hover {
    background-color: #555;
    border-radius: 7PX;
}

.btn {
    display: inline-block;
    background-color: #34ac70;
    color: #fff;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #34ac70;
    color: white;
}
