<!-- cekreservasi.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/cekreservasi.css">
    <script src="templates/scripts/cekreservasi.js" defer></script>
</head>
<body>
    {{ template "navbar.html" . }}
    <div class="cek-reservasi-container">
        <h2>Cek Reservasi</h2>
        <form id="cekReservasiForm" class="cek-reservasi-form" action="/reservasi/api/byNoRS">
            <label>Nomor RS</label>
            <input type="text" id="NoRS" name="no_rs" required>
            <br>
            <button type="button" onclick="cekReservasi()">Cek Reservasi</button>
        </form>
    
        <!-- Container untuk menampilkan hasil -->
        <div id="resultContainer" style="display: none;">
            <p id="noDataMessage" style="display: none;">Data tidak ditemukan!</p>
            <table id="resultTable" border="1">
                <thead>
                    <tr>
                        <th>ID Reservasi</th>
                        <th>Nomor RS</th>
                        <th>NIK</th>
                        <th>Tanggal Kunjungan</th>
                        <th>Nama</th>
                        <th>Jenis Kelamin</th>
                        <th>Tanggal Lahir</th>
                        <th>Email</th>
                        <th>Nomor Telepon</th>
                        <th>Pembayaran</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="resultTableBody"></tbody>
            </table>
        </div>
    </body>
</html>
