<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/index.css">
    <script src="templates/scripts/index.js"></script>
</head>
<body>
    <div class="header">
        <h1>Selamat Datang di Klinik Ridsu</h1>
        <p>Tempat Terbaik untuk Pelayanan Kesehatan</p>
		<p>Lihat jadwal dokter, klik disini</p>
        <a href="reservasi" class="btn">Reservasi</a></button>
    </div>
    <div class="container">
		<img src="templates/img/klinik.jpg" alt="Klinik Ridsu" width="500">
        <p>Di Klinik Ridsu, kami siap melayani Anda. Silakan buat reservasi sekarang!</p>
        <a href="jadwal" class="btn">JADWAL DOKTER</button></a>
    </div>
    
    {{ template "navbar.html" . }}
	<section id="CekPendaftaran">
        <h1 style="text-align: center;">INFORMASI</h1>
        <div class="isi" id="animated-div">
            <div class="dalam">
                <h2>Klinik Terbaik</h2>
                <div class="isigambar">
                    <img style="width: 500px;" src="templates/img/tempat.jpg" alt="">
                </div>
                <p>Klinik Ridsu adalah pilihan terbaik untuk layanan kesehatan yang berkualitas dan komprehensif. Dengan komitmen untuk memberikan perawatan yang canggih dan perhatian yang personal, klinik kami menjadi destinasi utama bagi pasien yang mencari pengalaman medis yang unggul.</p>
            </div>

            <div class="btn-isi">
                <h2>Dokter Kompeten</h2>
                <div class="isigambar">
                 <img style="width: 500px;" src="templates/img/bagus.jpeg" alt="">
                </div>
                <p>Tim profesional kami terdiri dari dokter dan tenaga kesehatan berpengalaman yang didedikasikan untuk memberikan perawatan holistik kepada setiap pasien. Dengan fasilitas modern dan peralatan medis terkini, Klinik Ridsu menawarkan lingkungan yang nyaman dan aman bagi setiap kunjungan.</p>
            </div>
        </div>
			<div class="bagian-kiri">
        </div>
    </section>
</body>
</html>

