<link rel="stylesheet" type="text/css" href="/templates/css/navbar.css">
<script src="/templates/scripts/navbar.js"></script>

<div class="navbarr">
    <div class="menu-icon" id="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="menu-list" id="menu-list">
        <li><a href="/">HOME</a></li>
        <li><a href="/jadwal">FIND DOCTOR</a></li>
        <li><a href="#">APPOINTMENT</a>
            <ul class="submenu">
                <li><a href="/reservasi">BOOK APPOINTMENT</a></li>
                <li><a href="/cekreservasi">CHECK APPOINTMENT</a></li>
            </ul>
        </li>
    </ul>
</div>
